body {
  background: #888888;
}

.opening-title {
    display: flex;
    justify-content: center;
    background: #000000;
    color: #ffffff;
}
.opening-title a {
    color: #ffffff;
    margin: 5px;
}

.opening-title h1 {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.opening-title p {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.work-title {
    color: #efefef;
    margin: 10px 0;
}